/* Styles for Low (Green) */
.hazard-border-green {
  animation: blink 3s linear infinite;
  border: 2px solid rgba(0, 255, 0, 0.5); /* Adjust border color and width */
}

/* Styles for Medium (Yellow) */
.hazard-border-yellow {
  animation: blink 3s linear infinite;
  border: 2px solid rgba(255, 255, 0, 0.5); /* Adjust border color and width */
}


/* Styles for High (Red) */
.hazard-border-red {
  animation: blink 3s linear infinite;
  border: 2px solid rgba(255, 0, 0, 0.5); /* Adjust border color and width */
}



/* In your CSS file */
/* In your CSS file */
@keyframes blinkShadowLow {
  0%, 100% { box-shadow: 0 0 20px rgba(0, 255, 0, 0); }
  50% { box-shadow: 0 0 20px rgba(0, 255, 0, 0.7); }
}

@keyframes blinkShadowMedium {
  0%, 100% { box-shadow: 0 0 20px rgba(255, 255, 0, 0); }
  50% { box-shadow: 0 0 20px rgba(255, 255, 0, 0.7); }
}

@keyframes blinkShadowHigh {
  0%, 100% { box-shadow: 0 0 20px rgba(255, 0, 0, 0); }
  50% { box-shadow: 0 0 20px rgba(255, 0, 0, 0.7); }
}


.blink-green {
  animation: blink 3s linear infinite;
  border: 2px solid rgba(0, 255, 0, 0.5); /* Adjust border color and width */
}

.blink-yellow {
  animation: blink 3s linear infinite;
  border: 2px solid rgba(255, 255, 0, 0.5); /* Adjust border color and width */
}

.blink-red {
  animation: blink 3s linear infinite;
  border: 2px solid rgba(255, 0, 0, 0.5); /* Adjust border color and width */
}



/* In your CSS */
.bg-custom-blue {
  position: relative;
  background-color: #84bde1; /* Your desired background color */
  overflow: hidden;
}

/* Adding the wave SVG for top and bottom */
.bg-custom-blue::before,
.bg-custom-blue::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 200px; /* Adjust this value to change the wave's height */
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"%3E%3Cpath fill="%23fff" fill-opacity="1" d="M0,160L48,165.3C96,171,192,181,288,170.7C384,160,480,128,576,128C672,128,768,160,864,165.3C960,171,1056,149,1152,138.7C1248,128,1344,128,1392,128L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-custom-blue::before {
  top: 0;
  transform: scaleY(-1); /* Flips the gradient vertically for top wave */
}
.bg-custom-blue::after {
  bottom: 0;
}
