@tailwind base;
@tailwind components;
@tailwind utilities;

/* Slant Dividers */
.slant-divider,
.slant-divider1 {
  position: relative;
  width: 100%;
  height: 0;
  border-left: 600px solid transparent; /* Adjust the size of the arrow */
  border-right: 600px solid transparent; /* Adjust the size of the arrow */
}

.slant-divider {
  border-top: 100px solid #F7F8FA; /* Adjust the size and color of the arrow */
}

.slant-divider1 {
  border-top: 100px solid #DFDBDB; /* Adjust the size and color of the arrow */
}

/* Backgrounds */
.Background1,
.Background2,
.Background3,
.Background4 {
  background-size: cover;
  background-position: center;
}

.Background1 {
  background-image: url("/img/1.png");
}

.Background2 {
  background-image: url("/img/2.png");
}

.Background3,
.Background4 {
  background-attachment: fixed; /* Add this property to make it fixed */
}

.Background3 {
  background-image: url("/img/3.png");
}

.Background4 {
  background-image: url("/img/4.png");
}
/* tailwind.css or your custom styles */


/* For smaller screens */
@media (max-width: 499px) {
  .section{
    height: 108vh; /* Adjusted height for larger screens */
  }
  .section1{
    height: 210vh; /* Adjusted height for larger screens */
  }
  .section2{
    height: 285vh; /* Adjusted height for larger screens */
  }
  .section3 {
    height: 95vh; /* Adjusted height for smaller screens */
  }
  .section4 {
    height: 65vh; /* Adjusted height for smaller screens */
  }
  .hide {
    display: none;
  }
  .size-img {
    width: 100%; /* Set the width */
    height: 100%; /* Set the height */
  }
}

/* For Mid screens */
@media (min-width: 500px) and (max-width: 768px){
  .section{
    height: 112vh; /* Adjusted height for larger screens */
  }
  .section1{
    height: 170vh; /* Adjusted height for larger screens */
  }
  .section2{
    height: 200vh; /* Adjusted height for larger screens */
  }
  .section3 {
    height: 90vh; /* Adjusted height for smaller screens */
  }
  .section4 {
    height: 63vh; /* Adjusted height for smaller screens */
  }
  .hide {
    display: none;
  }
  .size-img {
    width: 100%; /* Set the width */
    height: 100%; /* Set the height */
  }
}

/* For larger screens */
@media (min-width: 1024px) {
  .section {
    height: 77vh; /* Adjusted height for larger screens */
  }
  .section1{
    height: 93vh; /* Adjusted height for larger screens */
  }
  .section2{
    height: 130vh; /* Adjusted height for larger screens */
  }
  .section3 {
    height: 80vh; /* Adjusted height for larger screens */
  }
  .section4 {
    height: 35vh; /* Adjusted height for larger screens */
  }
  .custom-md-ml {
    margin-left: 260px;
  }
  .size-img {
    width: 50%; /* Set the width */
    height: 50%; /* Set the height */
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  
}


.divider {
  height: 20px; /* Adjust the height of the divider */
  position: relative;
  overflow: hidden;
}


/* In your CSS or Tailwind config */
.bg-custom-blue {
  position: relative;
  background-color: #0073f5; /* Your desired color */
  overflow: hidden; /* Ensures the gradient doesn't overflow the container */
}

.bg-custom-blue::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%; /* Double the width to ensure the gradient covers the whole container */
  height: 100%;
  background: linear-gradient(135deg, transparent 50%, #ffffff 0); /* Adjust the gradient and positioning as needed */
  transform: rotate(-45deg); /* Rotates the gradient to create the slant effect */

}

/* styles.css */

/* For smaller screens */
@media (max-width: 768px) {
  .text-3xl {
    font-size: 2.5rem;
  }
  .md\:w-full {
    width: 100%;
  }

}

/* For larger screens */
@media (min-width: 769px) {
  .text-3xl {
    font-size: 4rem;
  }
  .md\:w-full {
    width: 50%;
  }
  /* ... other responsive styles ... */
}

/* For mobile devices */
@media (max-width: 480px) {
  .flex-items {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 5px; /* Adjust margin as needed */
  }

  .w-full {
    width: 100%;
  }

  .w-2-3 {
    width: 100%; /* Adjust width as needed */
  }

  .w-1-3 {
    width: 100%; /* Adjust width as needed */
  }
  .grid {
    display: block; /* Change grid to block for mobile */
  }

  .grid > * {
    width: 100%; /* Ensure items occupy full width */
    margin-bottom: 10px; /* Adjust spacing between items */
  }
  .grid img {
    max-width: 100%; /* Ensure images don't overflow their containers */
    height: auto; /* Maintain aspect ratio */
  }
}

